#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  z-index: 9999;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s, visibility 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
#animated-wheel {
  position: absolute;
  border: 0.5rem solid #f3f3f3; 
  border-top: 0.5rem solid #737373; 
  border-radius: 50%;
  width: 15.625rem;
  height: 15.625rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#logo {
  width: 18.75rem;
  height: 18.75rem;
  position: relative;
}
.app-store-img {
  width: 50%;
}
#logo::after {
  content: "";
  position: absolute;
  top: -0.625rem;
  left: -0.625rem;
  width: 7.5rem;
  height: 7.5rem;
  border: 0.125rem solid white;
  border-radius: 50%;
  border-top-color: transparent;
  animation: spin 2s linear infinite;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.img-logo {
  max-width: 12.5rem; 
  max-height: 12.5rem; 
}

.img-logo:hover {
  background-color: #c2c2c2;

}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-image: url(./img&resume/bg4.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

  .box{
    width: 80%;
    background: rgba(0, 0, 0, 0);
    padding: 2.5rem;
    text-align: center;
    margin: auto;
    color: white;
    min-height: 21.25rem;
    position: relative;
  }

  .box p {
    font-size: 1.5625rem;
  }


  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
  .box-img{
    border-radius: 50%;
    width: 12.5rem;
    height: 12.5rem;
  }
  .box h1{
    font-size: 4rem;
    font-weight: 100;
  }
  .box h5{
    font-size: 1.25rem;
    font-weight: 100;
  }
  .box p{
    text-align: justify;
    line-height: 2;
    font-weight: lighter;
  }
  ul{
    display:inline-block;
    padding: 0;
    margin-top:0;
  }
  .box li{
    display: inline-block;
    margin: 0.9375rem;
    list-style: none;
    opacity: 0;
  }
  .box li a i, .project a i, .up a i {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 3.75rem;
    transition: all ease-in-out 250ms;
  }
  .tp {
    font-size: 1.875rem;
  }
  .box li a i:hover, .project a i:hover,.up a i:hover{
    color: #c2c2c2;
  }
  .nav-link {
    font-weight: 100;
    font-size: 1.25rem;
    text-decoration: none;
    color: #ffffff;
    padding: 1.25rem 0.0rem;
    margin: 0.0rem 1.25rem;
    display: inline-block;
    position: relative;
    opacity: 0.75;
    cursor: pointer;
  }
  .nav-link:hover {
    transition: 150ms;
    opacity: 1;
  }
  .nav-link::before {
    transition: 150ms;
    height: 0.0625rem;
    content: "";
    position: absolute;
    background-color:#ffffff;
  }
  .nav-link-ltr::before {
    width: 0%;
    bottom: 0.625rem;
  }
  .nav-link-ltr:hover::before {
    width: 100%;
  }
  .navbar .logo {
    font-weight: bold;
    font-size: 1.5625rem;
  }
  .navbar{
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }
  .fade-in {
    opacity: 0;
    transition: opacity 2s;
  }
  @keyframes wave-animation {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(14deg); }
    20% { transform: rotate(-8deg); }
    30% { transform: rotate(14deg); }
    40% { transform: rotate(-4deg); }
    50% { transform: rotate(10deg); }
    60% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
  }
  section:nth-child(even) {
    background-color: #f8f8f8;
  }
  .section__title {
    text-align: center;
    margin: 0 auto;
    padding:0.625rem auto;
  }
  .language__img {
    width: 100%;
    max-width: 6.25rem;
    min-width: 3.25rem;
    transition: all 300ms;
    object-fit: cover;
  }
  .language:hover .language__img {
    filter: brightness(80%);
    opacity: 0.86;
    transform: scale(0.9);
  }
  .language {
    width: 25%;
    display: flex;
    justify-content: center;
    position: relative;
  }
  .language__img--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5625rem 1.0rem;
  }
  .language__list {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
  }
  .language__name {
    position: absolute;
    bottom: 0;
    transform: scale(0);
    transition: all 300ms;
    font-size: 1.25rem;
    opacity: 0;
  }
  .language:hover .language__name {
    transform: scale(1);
    opacity: 1;
  }
  .container {
    background:rgba(0, 0, 0, 0.4);
    display: block;
    opacity: 0;
    padding-bottom: 3.125rem;
    margin-top: 7.8125rem;
  }
  .outer-p {
    margin-top: 0.625rem;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity:0;
  }
  .projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -1.4375rem;
    padding-bottom: 4.6875rem;
  }
 .project {
    width: calc(35%);
    background: rgba(0, 0, 0, 0.4);
    padding: 2.5rem;
    text-align: center;
    margin: 2.1875rem;
    border-radius: 0.625rem;
    transition: all 250ms;
    height: 32.8125rem;
    overflow: auto;
    display: block;
    margin-top: 3.75rem;
  }
  .project:hover {
    box-shadow: 0 0 0.625rem rgba(255, 255, 255, 0.3);
    transform: translateY(-0.625rem);
  }
  .projects .project h3 {
    font-size: 1.25rem;
    margin-top: 0.0rem;
    margin-bottom: 1.5625rem;
    cursor: pointer;
  }
  .projects .project p {
    font-size: 1.0rem;
    line-height: 2;
    margin-bottom: 1.5625rem;
    text-align: justify;
  }
  .projects .project .project__links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5625rem;
  }
  .projects .project .project__links a {
    display: inline-block;
    margin: 0 0.625rem;
    font-size: 1.0rem;
    color: white;
    transition: all 250ms;
  }
  .projects .project .project__links a:hover {
    color: #c2c2c2;
  }
  .projects-header {
    padding-top: 0.625rem;
    text-align: center;
    font-size: 1.4375rem;
    font-weight: 100;
  }
  .tab button.active::before {
    width: 100%;
  }
  .fa {
    font-size: 3.125rem;
  }
  li {
    line-height: 1.5;
  }
  
  .icon-links {
    display: flex;
    justify-content: space-around;
    width:100%;
  }
  .tab {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    display:flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .e-tab {
    display: flex;
    justify-content: center;
  }
  .tabcontent {
    display: auto;
    overflow: visible;
    max-height: 22.1875rem;
    min-height: 22.1875rem;
    opacity: 0;
    animation: fadein 1s forwards; 
}

@keyframes fadein {
    to { opacity: 1; } 
}
  .tab button {
    background-color: transparent;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.875rem 1.0rem;
    transition: 0.3s;
    font-size: 1.0625rem;
  }
  .tab button {
    font-weight: 100;
    font-size: 1.25rem;
    text-decoration: none;
    color: #ffffff;
    padding: 1.25rem 0.0rem;
    margin: 0.0rem 1.25rem;
    display: inline-block;
    position: relative;
    opacity: 0.75;
    cursor: pointer;
    background-color:transparent;
    border: none;
    outline: none;
    transition: 150ms;
  }
  .tab button:hover {
    opacity: 1;
  }
  .tab button::before {
    transition: 150ms;
    height: 0.0625rem;
    content: "";
    position: absolute;
    background-color:#ffffff;
    width: 0%;
    bottom: 0.625rem;
  }
  .tab button:hover::before {
    width: 100%;
  }
  .project-img {
    max-width: 100%;
    
    height: auto;
  }
  .end {
    height:100%;
    width:100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-evenly;
    overflow:hidden;
  }
  .up,.proj,.prof,.info {
    width:25%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    place-items: center;
    background-color:rgba(0, 0, 0, 0.4);
    height: fit-content;
  }
  .up {
    justify-content: start;
    cursor: pointer;
  }
  .prof a i:hover, .proj a:hover,.info a:hover, .info a i:hover {
    color: #c2c2c2;
    transition: all ease-in-out 250ms;
  }
  .typed-cursor {
    opacity: 1;
    animation: blink-animation 1s infinite;
}
.triple-image {
  display: flex;
  justify-content: space-between;
}

.img-triple {
  width: 33%;
  box-sizing: border-box; 
}
footer a {
  line-height: 2;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

@keyframes blink-animation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
* {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white;
    font-weight: 100;
}  

@media (min-width: 481px) {
  html {
    font-size: 8px;
  }
  
}

@media (min-width: 769px) {
  html {
    font-size: 12px;
  }
 
}

@media (min-width: 1025px) {
  html {
    font-size: 16px;
  }
}


@media (min-width: 1440px) {
  html {
    font-size: 20px;
  }
}